<html>

<head>
<title> Portfolio </title>

</head>
<div>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>

    <h2>About Me</h2>
    <div>
        <div>
            <h3>About Me</h3>
            <p>From a young age I’ve always had a sense of motivation and passion driving me forward.
               Whether it’s exploring opportunities, learning new skills, or meeting people, I bring these to every experience.</p>
            <p>Lover of innovation and quick problem-solving. Very calculated about the time I spend and work I do.</p>
            <p>To know more, keep exploring or contact me directly.</p>

        </div>
        <div>
            <h3>Basic Information</h3>
            <p><strong>Date Of Birth:</strong><br>Aug 9th</p>
            <p><strong>Email:</strong><br>ushakirannarena@gmail.com</p>
            <p><strong>Mobile:</strong><br>7794091378</p>
            <p><strong>Address:</strong><br>Tadepalligudem</p>
        </div>
    </div>

<body>

</body>
</html>