<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>

<div class="navbar">
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>

        
        <h2>Contact Me</h2>

    <div>
        <div>
            <h4>Feel free to contact me</h4>
            <form>
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Subject"><br>
                <input type="email" placeholder="E-mail"><br>
                <button type="submit">Send</button>
            </form>
        </div>

        <div>
            <p><strong>Phone</strong><br>+91 7794091378</p>
            <p><strong>E-mail</strong><br>ushakirannarena@gmail.com</p>
        </div>
    </div>
        
        
        

</body>
</html>