<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
</head>
<body>

<div>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>
    
    <div>
                
                <h4>Bachelor Degree</h4>
                <p>2020-2024</p>
                <br>
          
                <h3>Bachelor of Technology</h3>
                <p><strong>Sasi Institute of Technology and Engineering</strong></p>
                
                <ul>
                    <li>Completed B.Tech in Computer Science and Technology with <strong>7.7 CGPA</strong></li>
                </ul>
        </div>

     
        <div >
           
               
           
                <h3>Intermediate</h3>
                 <p>2018 - 2020</p>
                <p><strong>St.Anns Junior College</strong></p>
                <ul>
                    <li>Completed with <strong>93%</strong></li>
                </ul>
      </div>

</body>
</html>