<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Portfolio</title>
</head>
<body>

<div>
        <a href="/about">ABOUT</a>
        <a href="/education">EDUCATION</a>
        <a href="/skills">SKILLS</a>
        <a href="/contact">CONTACT</a>
    </div>

<h2>Skills</h2>
    <div>
        <div>
            <h3>Technical Skills</h3>
            <p>✔ Java, Spring Core, Spring Boot</p>
            <p>✔ HTML, CSS, JavaScript</p>
            <p>✔ MySQL, C</p>
        </div>
        <div>
            <h3>Soft Skills</h3>
            <p>✔ Problem-solving</p>
            <p>✔ Communication</p>
            <p>✔ Time management</p>
        </div>
    </div>

</body>
</html>